@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="css/site.css" />
</head>
<body>
    <header>
         <nav>
            <a asp-page="/Index">Home</a>
            <a asp-page="/CreateRecipe">Add Recipe</a>
        </nav> 
    </header>
    <main role="main" class="container">
        @RenderBody()
    </main>
    @RenderSection("Scripts", required: false)
</body>
</html>
